<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="false"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--<variable name="myvar" value="myvalue" />-->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!-- Console -->
    <target xsi:type="ColoredConsole" name="ConsoleOld" useDefaultRowHighlightingRules="true">
      <layout xsi:type="CsvLayout" delimiter="Tab">
        <withHeader>false</withHeader>
        <column name="date" layout="${date:format=HH\:mm\:ss.fff}" />
        <column name="logger" layout="${logger}" />
        <column name="level" layout="${level}" />
        <column name="message" layout="${message} ${onexception:inner=${exception:format=message}}" />
      </layout>
      <!-- useDefaultRowHighlightingRules
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
      -->
    </target>

    <target xsi:type="ColoredConsole"
            name ="Console"
            useDefaultRowHighlightingRules ="true"
            layout="${date:format=HH\:mm\:ss.fff}   ${logger:padding=-14:fixedLength=true}  ${level:padding=-5:fixedLength=true}   ${message} ${onexception:inner=${exception:format=message}}" />

    <!-- File -->
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${logger}_${shortdate}.log">
      <layout xsi:type="CsvLayout" delimiter="Tab">
        <withHeader>false</withHeader>
        <column name="date" layout="${date:format=HH\:mm\:ss}" />
        <!-- <column name="logger" layout="${logger}" /> -->
        <!-- included in fileName -->
        <column name="level" layout="${level}" />
        <column name="message" layout="${message}${onexception:inner=${newline}${exception:format=tostring}}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" writeTo="Console" />
    <logger name="*" minlevel="Warn" writeTo="file" />
  </rules>
</nlog>